.collapsable-box {
    flex-basis: 45%;
    color:white;
    text-align:left;
    font-size: 1.2vw;
    border-radius: 0.3vw;
    overflow:hidden;
    margin: 2vw 0;
    position:relative;
    &__title {
        background-color: #FF6060;
        padding: 1vw;
        border-radius: 0.3vw;
    }
    &__content {
        background-color: #F6F6F6;
        color: #FF6060;
        padding: 1vw;
        width:inherit;
        &--hidden {
            display:none;
        }
    }
    &__chevron {
        color: black;
        position: absolute;
        top: 1vw;
        right: 2vw;
        color:white;
    }
}