@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.header {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    width: 100%;
    height: max-content;
    justify-content:space-between;
    margin: 3vw 0;
    align-items:center;
    &__logo {
        height: 4vw;
        margin-left: 5%;
        @include mobile-only {
            height: 18vw;
        }
    }
}